html {
    background-color: black;
}

main {
    margin: 10vh auto;
    width: 60vw;
    height: 80vh;
    background-color: antiquewhite;
    border-radius: 20px;
    display: flex;
}

#form-div {
    display: flex;
    flex-direction: column;
    float: left;
    width: 80%;
    height: 100%;
    background-color: blueviolet;
}

#form-div > * {
    margin: auto;
}

#company-name-div {
    float: right;
    width: 20%;
    height: 100%;
    background-color: royalblue;
}

#form {
    display: flex;
    flex-direction: column;
    width: 50%;
}